baseURL = "http://example.org/"
languageCode = "en-us"
title = "Kuruma Stories"
theme = "ananke"

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true

[menu]
  [[menu.main]]
    identifier = "about"
    name = "About"
    url = "/about/"
    weight = 10

  [[menu.main]]
    identifier = "contact"
    name = "Contact"
    url = "/contact/"
    weight = 20

[params]
customCSSFiles = ["css/custom.css"]

