<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" {{- if eq site.Language.LanguageDirection "rtl" }} dir="rtl" {{- end }}>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">

    <!-- Site styles -->
    {{ partial "site-style.html" . }}
    <link rel="stylesheet" href="/css/custom.css?v=2">

    <!-- Lightbox2 CSS & JS -->
    {{ partial "head-additions.html" . }}

    <!-- Other site scripts -->
    {{ partial "site-scripts.html" . }}
  </head>

  <body class="ma0 avenir bg-near-white">
    <!-- Header -->
    {{ block "header" . }}{{ partial "site-header.html" . }}{{ end }}

    <!-- Main content -->
    <main class="pb7" role="main">
      {{ block "main" . }}{{ end }}
    </main>

    <!-- Footer -->
    {{ block "footer" . }}{{ partial "site-footer.html" . }}{{ end }}

    <!-- Optional footer scripts -->
    {{ partial "footer-additions.html" . }}
  </body>
</html>
