<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Kuruma Stories</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 50px;
      background-color: #fff;
      color: #333;
    }
    h1 {
      font-size: 3em;
      margin-bottom: 0.2em;
    }
    h2 {
      font-size: 2em;
      margin-top: 0;
      margin-bottom: 1em;
    }
    a {
      text-decoration: none;
      color: #007acc;
      font-size: 1.5em;
      display: block;
      margin: 10px 0;
    }
    a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <h1>Welcome to Kuruma Stories</h1>
  <h2>Explore stories by manufacturer:</h2>
  <ul style="list-style-type:none; padding-left:0;">
    <li><a href="/nissan/">Nissan</a></li>
    <li><a href="/honda/">Honda</a></li>
    <li><a href="/toyota/">Toyota</a></li>
  </ul>
</body>
</html>
